* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;;
}  
#root {

  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
body{
  padding:0px;
  margin:0px;
  color:rgb(34, 255, 0);
  
}

#c1{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 98%;
  height: 98%;
}

#circle{
  display:flex;
  padding-top:15px;
   position: absolute;
   font-size:190%;
  justify-content: center;
   top:50%;
    left:50%;
  margin:0px;
  width:0px;
  height:0px;
  color:aliceblue;
  transition: 1s;
  background-color:rgb(34, 255, 0);
 transform: translate(-50%,-50%);
  animation: ca1 3s 0s 1;
}
#circle:hover{
  color:rgb(34, 255, 0);
  text-decoration:underline wheat;
  
  font-size: 200%;
}
@keyframes ca1 {
0%,20%,40%,95%{
  position: absolute;
   top:50%;
    left:50%;
  width:0px;
  height:0px;
  background-color: rgb(34, 255, 0);;

}10%,50%,80%{
  position: absolute;
  top:50%;
   left:50%;
 width:40%;
 height:40%;
 background-color: rgb(34, 255, 0);;
}
30%,65%{
  position: absolute;
  top:50%;
   left:50%;
 width:10%;
 height:10%;
 background-color: rgb(34, 255, 0);;
}
100%{
  position: absolute;
   top:50%;
    left:50%;
  width: 100%;
  height:100%;
  background-color: rgb(34, 255, 0);
  
}
}
@keyframes ca2 {
  0%{
    position: absolute;
     top:20%;
      left:50%;
      width:25%;
   height:10%;
    border-radius: 100%;
    background-color: black;
  
  }100%{
    position: absolute;
    top:20%;
     left:50%;
   width:25%;
   height:15%;
   background-color:black;
  }

}
@keyframes ca3 {
  0%,60%,95%{
    position: absolute;
     top:50%;
      left:50%;
    width:0px;
    height:0px;
    border-radius: 50%;
    background-color: black;
  
  }80%{
    position: absolute;
    top:50%;
     left:50%;
   width:40%;
   height:40%;
  
   background-color: black;
  }
  30%{
    position: absolute;
    top:50%;
     left:50%;
   width:10%;
   height:10%;
   border-radius: 50%;
   background-color: black;
  }
  100%{
    position: absolute;
     top:50%;
      left:50%;
    width: 100%;
    height:100%;
    
    background-color: black;
    
  }
}
.logo {
position :fixed;
font-size: 300%;
z-index:-1;
margin-bottom:20px;
top:5%;
left:0px;
transition: left 5s ;
}
@media screen and (min-device-width:400px) and (max-width:680px){
  .logo {
    position :fixed;
    font-size: 180%;
    z-index:-1;
    margin-bottom:20px;
    top:5%;
    left:0px;
    transition: left 5s ;
}
}
.container{
  position:absolute;
  display:flex;
flex-direction:column;
gap: 1rem;
margin-top:15px;
width: 50%;
left:25%;
top:20%
}
 
.input_holder{
  display:flex;
  flex-direction:column;
  padding:10px;
  margin-bottom:20px;
  border:4px dotted rgba(26, 28, 25, 0.939);
  width: 80%;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0px 0px 40px  chartreuse;
  background-color:rgb(73, 247, 82);
  transition: all 1s;
}
.input_holder input{
  margin-top: 3px;
  margin-bottom: 3px;
border-radius: 10px;
background-color: rgb(100, 79, 79);
color:rgb(34, 255, 0);
height:30px;
font-weight: bolder;
font-size: 90%;
}
.input_holder input:hover{
  color:rgb(34, 255, 0);
  font-size: 100%;
  height:40px;
  background-color: rgb(29, 28, 28);
  text-decoration: underline;
}
.input_holder input::placeholder{
 color: rgba(120, 154, 88, 0.939);
 font-weight: bolder;
font-size: 100%;
}
.input_holder button{
  width:25%;
  height: 30px;
  margin-top: 5px;
  margin-left: 35%;
  border-radius: 10px;
  background-color: rgb(170, 213, 117);
  color:rgb(247, 140, 0);
  font-weight: bolder;
 font-size: 120%;
 }
 .input_holder button:hover{
   width:30%;
   height: 32px;
   margin-top: 5px;
   margin-left: 35%;
   border-radius: 10px;
   background-color: rgb(60, 59, 58);
   color:rgb(140, 255, 0);
   font-weight: bolder;
  font-size: 130%;
  text-decoration: underline;
 }
 .input_holder:hover{
   display:flex;
   flex-direction:column;
   padding:10px;
   margin-bottom:20px;
   border:4px dotted rgba(17, 254, 0, 0.939);
   width: 90%;
   border-radius: 0px 20px 0px 20px;
   box-shadow: 0px 0px 40px  chartreuse;
   background-color:rgb(78, 134, 0);
 }


#tsd{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  padding:10px;
  margin-bottom:20px;
  width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 transition: all 1s;
 }

#tsd th{
  min-width: 30%;
  max-width: 30%;
  width:30%;
  border:2px solid  rgba(75, 238, 173, 0.939);
  height: 5rem;
  font-size: 1.5rem;
}

#tsd td{
margin:0;
padding:0;
border:2px solid  rgba(75, 238, 173, 0.939);
max-width: 30%;
 min-width:30%;
 width: 30%;
 overflow: scroll;
 scrollbar-width: none;
 word-wrap: break-word;

}


#cs{
  font-weight: bolder;
  color: black;
  font-size: 200%;
 position: relative;
 
 
}
#bu{
  width:40%;
  height: 35px;
  margin-top: 5px;
  margin-left: 35%;
  border-radius: 10px;
  background-color: rgb(170, 213, 117);
  color:rgb(247, 140, 0);
  font-weight: bolder;
 font-size: 120%;
}

#genp{
  display:flex;
  position:fixed;
  bottom: 1rem;
  padding-top: 7px;
  border-radius: 20px;
  width:150px;
  height:40px;
  justify-content:center;
  font-weight: bolder;
  font-size: 100%;
 
 background-color: rgb(34, 255, 0);
 box-shadow: 0px 0px 40px  chartreuse;
 color:rgb(20, 19, 19);
 z-index:1;
}

#genp:hover{
  width:170px;
  height:50px;
  background-color: rgb(85, 58, 42);
  color:rgb(34, 255, 0);
  text-decoration: underline;
  box-shadow: 0px 0px 40px  chartreuse;
}

#textcontainer{
  width:70%;
  height:40%;
  position: absolute;
  bottom: 15%;
  z-index:-99;
}

#textcontainer p{
  color:white;
  font-weight:bolder;
  font-size: 182%;
}

@media only screen and (min-device-width:400px){
  .input_holder input::placeholder{
    color: rgba(120, 154, 88, 0.939);
    font-weight: bolder;
   font-size: 80%;
   }
   .input_holder button{
    width:60px
   }
   #tsd{
    position: relative;
    left:-6.8rem;
  }
   #tsd th{
    height: 7rem;
    max-height:7rem;
    min-width: 129px;
  max-width: 129px;
  width:129px;
    border:2px solid  rgba(75, 238, 173, 0.939);
    height: 5rem;
    font-size: 1.5rem;
  }
  
  #tsd td{
  margin:0;
  padding:0;
  border:2px dotted  rgba(75, 238, 173, 0.939);
  min-width: 129px;
  max-width: 129px;
  width:129px;
  height: 4rem;
  max-height:4rem;
   overflow: scroll;
   scrollbar-width: none;
   word-wrap: break-word;
  
  }
  
}



@media screen and (min-width:800px) {
  #tsd{
    position: relative;
    left:-11rem;
  }
#tsd th{
  height: 7rem;
  max-height:7rem;
  min-width: 250px;
  max-width: 250px;
  width:250px;
  border:2px solid  rgba(75, 238, 173, 0.939);
  height: 5rem;
  font-size: 1.5rem;
}

#tsd td{
margin:0;
padding:0;
border:2px dotted  rgba(75, 238, 173, 0.939);
min-width: 250px;
max-width: 250px;
width:250px;
height: 7rem;
max-height:7rem;
 overflow: scroll;
 scrollbar-width: none;
 word-wrap: break-word;

}
}

@media screen and (max-width:399px) {
  .input_holder button{
    width:60px;
    position: relative;
    left:-1rem;
   }
  #tsd{
    position: relative;
    left:-4rem;
  }
#tsd th{
  height: 7rem;
  max-height:7rem;
  min-width: 100px;
max-width:100px;
width:100px;
  border:2px solid  rgba(75, 238, 173, 0.939);
  height: 5rem;
  font-size: 1.5rem;
}

#tsd td{
margin:0;
padding:0;
border:2px dotted  rgba(75, 238, 173, 0.939);
min-width: 100px;
max-width:100px;
width:100px;
height: 7rem;
max-height:7rem;
 overflow: scroll;
 scrollbar-width: none;
 word-wrap: break-word;

}
}
